body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Roboto Mono";
}

hr {

  margin: 0;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(
    169deg,
    rgba(255, 255, 255, 1) 2%,
    rgba(255, 84, 32, 1) 75%
  );
  position:fixed;
  z-index:99;
  width: -webkit-fill-available;
}

img[alt="Logo"] {
  width: 7%;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 50%;
  align-items: center;
}

.menu a {
  text-decoration: none;
  color: black;
  font-weight: 800;
}

.menu a:hover {
  text-decoration-color: black;
  color: white;
}

.srch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 10%;
}

.srch a {
  color: initial;
}

.srch a:hover {
  color: gold;
}

input[name="search"] {
  border-radius: 10px;
  height: 1.2rem;
}

input[name="search"]:focus {
  outline: none;
}

form {
  display: flex;
  padding-left: 2%;
}

form button {
  border-radius: 50%;
}

/* Sliders */

.slidecont {
  display: flex;
  justify-content: center;
  position: relative;
  height: 28.2rem;
  margin: auto;
}

.slide1 {
  background-color: #278dff;
  width: 50%;
  font-weight: 900;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
}

.adidasprixsold {
  color: red;
  font-weight: 900;
  font-size: 2rem;
}

.adidasprixoriginal {
  transform: rotate(45deg);
  color: white;
  text-decoration: line-through;
  text-decoration-color: black;
  text-decoration-thickness: 20%;
  font-size: 1.5rem;
}

.slide2 {
  background-color: #278dff;
  width: 50%;
  font-weight: 900;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
}

.slide2 img {
  max-height: 28.2rem;
}

.julesprixoriginal {
  color: white;
  font-size: 1.5rem;
}

/* Section de 4 produits */

.quatreprod {
  display: flex;
  padding: 5% 0;

}

.quatreprod img {
  max-height: 22rem;
  border-top-left-radius: 1%;
  border-top-right-radius: 1%;
}

.quatreprod figure {
  border-radius: 1%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: auto;
}

.quatreprod figcaption {
  padding: 1%;
}

.cat {
  color: rgba(122, 118, 123, 1);
}


.prix {

font-weight: bold;
font-size: 1.5em;

}

.prix::before {

  content: "\a\a";
  white-space: pre;
}

.foot{

  display: flex;
  justify-content: space-around;
  padding: 0 0 3% 0;
  background: linear-gradient(
    360deg,
    rgba(255, 255, 255, 1) 2%,
    rgba(255, 84, 32, 1) 75%
  );

}

.foot address {
font-weight: 700;
}

.foot address p{

margin: 0;

}

.foot address a {

text-decoration: none;
color: black;

}

.foot address a:hover{

text-decoration: underline;
color: blue;

}


.fa a {
  font-family: "Roboto Mono";
  text-decoration: none;
  color: black;
}
.fa-facebook-square{

  color: blue;
}

.fa-instagram-square {

  color: red;
}

footer figure {

  text-align: center;
  font-weight: 900;
  color: slategray;
}

