* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono";
  box-sizing: border-box;

}
h1 {
  font-size: calc(1.2rem + 1.5vw);
}

h2{
  font-size: calc(1.1rem + 0.9vw);
}

h3{
  font-size: calc(1.07rem + 0.6vw);
} 

h4 {
  font-size: calc(1.05rem + 0.3vw);
}

h5{
  font-size: 1.02rem;
}

h6{
  font-size: 1rem;
}

hr {

  margin: 1% 0 0 0;
}

a {
  text-decoration: none;
  color: black;
}

header {
  display: none;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(169deg,
      rgba(255, 255, 255, 1) 2%,
      rgba(255, 84, 32, 1) 75%);
  position: sticky;
  top: 0;
  z-index: 99;
  width: 100%;
}

img[alt="Logo"] {
  width: 7%;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 50%;
  align-items: center;
  text-decoration: none;


}

.menu li {

  list-style-type: none;
  padding: 0 20%;
  position: relative;

}

.menu a {
  font-weight: 800;
  transition: 0.3s ease;
}

.menu a:hover,
.menu a.active {
  text-decoration-color: black;
  color: #088178;

}

.menu a.active::after,
.menu a:hover::after {

  content: "";
  width: 27%;
  height: 2px;
  background: #088178;
  position: absolute;
  left: 27px;
  top: 23px;

}

.srch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 10%;
}

.srch a {
  color: initial;
}

.srch a:hover {
  color: gold;
}

input[name="search"] {
  border-radius: 10px;
  height: 1.2rem;
}

input[name="search"]:focus {
  outline: none;
}

form {
  display: flex;
  padding-left: 2%;
}

form button {
  border-radius: 50%;
}

/* Sliders */

.swiper {
  width: 100%;
  border: solid black 1px;
  background-color: #6A6DFF;
  margin: 0;

}


.swiper-slide {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 0;
} 
.swiper-slide img {
  display: block;
  width: 40%;
  height: 400px;
}

.swiper-slide div {
  display: flex;
  flex-flow: column wrap;
  margin: 0;
  padding-left: 1%;
}

.slide-prix-sold {
  font-size: 26px;
  color: red;
  font-weight: bold;

}

.swiper-button-prev:after,
.swiper-button-next:after {
  color: red;
}


/* Banniere-bas page d'accueil */

#banniere-bas {
  width: 100%;
  height: 31.7vw;
  margin-top: 5%;
  background-image: url(../imgs/banniere-1.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100vw;
  position: relative;

}

#ban-sold {
  display: block;
  width: 10.7vw;
  height: 6vw;
  position: absolute;
  top: 11.2%;
  left: 5.2%;
  cursor: pointer;
}


#ban-sold:after{
  position: absolute;
  content: "";
  top: 83%;
  left: 25%;
  border-width: 2vw;
  border-style: solid;
  border-color: transparent transparent red transparent ;
  animation-name:sold;
  animation-duration: .8s;
  animation-iteration-count: infinite;
  animation-play-state:running;
}

@keyframes sold {

  To{
    top:67%
  }
}


#ban-sold:before{
  content: "Consultez nos produits solde";
  font-size: 18px;
  font-weight: 900;
  position: absolute;
  top: 145%;
  left: -22%;
  width: fit-content;
  text-align: center;
  cursor: auto;
}

#ban-contact{
  display: block;
  width: 11.1vw;
  font-weight: bold;
  height: 10.9vw;
  position: absolute;
  top: 1%;
  left: 80.6%;
  cursor: pointer;
}

#ban-contact:after{
  position: absolute;
  content: "";
  top: 93%;
  left: 37%;
  border-style: solid;
  border-width: 2vw;
  border-color:  transparent transparent red transparent ;
  animation-name:contact;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-play-state:running;
}

@keyframes contact {

  To{
    top:83%
  }
}

#ban-contact:before{
  content: "Contacter nous par email";
  font-size: 18px;
  position: absolute;
  top: 130%;
  left: 8%;
  width: 100%;
  font-weight: 900;
  text-align: center;
  cursor: auto;
}




/* Section des produits */

.pro-mainpage {
  display: flex;
  justify-content: space-between;
  padding: 3%;
  margin-bottom: 30px;
  flex-flow: row wrap;

}

.product {
  height: 575px;
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: solid black 1px;
  border-radius: 25px;
  margin-top: 4%;
  box-shadow: rgba(57,129,119, 0.3) 0px 5px 15px;
  transition: 0.3s ease;
}

.product:hover{
  box-shadow: rgba(57,129,119, 0.6) 0px 5px 15px;
}

.product img {
  height: 356px;
  width: 100%;
  border-radius: 20px;

}

.des {
  padding: 2%;
  margin-bottom: 2%;
}


.des span {
  color: rgba(122, 118, 123, 1);

}
.des h5 {
  text-align: start;
  margin: 3% 0;
}

.des h4 {
  font-weight: bold;
  margin: 0 0 2% 0;
}
.ajouteraupanier {
  display: block;
  background-color: #398177;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  margin: 0 auto;
  }



.ajouteraupanier:hover {

  color: #278dff;

}



/* Button montre plus */

.montreplus {
  font-weight: 800;
  color: black;
  margin: 0 auto;
  background-color: #398177;
  display: block;
  border: none;
  padding: 1%;
  border-top-left-radius: 20px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 50px;
  cursor: pointer;
  transition: all 0.7s;
}

.montreplus:hover {

  background-color:#278dff;
  border-top-left-radius: 50px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 20px;
  border: solid black 2px;

}

/* Footer */


.foot {

  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  padding: 2%;
  background: linear-gradient(360deg,
      rgba(255, 255, 255, 1) 2%,
      rgba(255, 84, 32, 1) 75%);

}

.foot div {
  font-weight: 700;
  flex:1;
  margin-left: 1%;
}

.foot div:first-child{
  margin-left: 0;
}


.foot div a {
  font-size: 14px;
}

.foot div a:hover {

  text-decoration: underline;
  color: blue;

}


.fa a {
  font-family: "Roboto Mono";
  text-decoration: none;
  color: black;
}

.fa-facebook-square {

  color: blue;
}

.fa-instagram-square {

  color: red;
}

footer figure {

  text-align: center;
  font-weight: 900;
  color: slategray;
}


/** Responsive pour la page d'accueil  **/


/** Max Width 920px **/

@media (max-width:920px){
  .swiper{
    width: 75%;
    height: 400px;
    justify-content: center;
    text-align: center;
  }

  .swiper-slide{

  }

  .swiper-slide div {
    margin-bottom: 7%;
  }
  .swiper-slide img {
    height:180px;
    width: 40%;
  }

  .slide-prix-sold {
    font-size: 20px;
  }

  .slide-prix-original {
    font-size: 18px;
  }

  
  .product {
    width: 42%;
    height: 450px;
    padding: 1%;
  } 
  .product img{
    height: 280px;
  }

  .product h5{
    margin: 2% 0;
    font-size: 0.75rem;
    }

  .product h4 {
      margin: 5% 0;;
    }

    #ban-contact:before , #ban-sold:before{
      font-size: 14px;
    }

  .foot div p ,.foot div a {
    font-size: 9px;
  }
}

/** Max Width 550px **/

@media (max-width:550px){
  .pro-mainpage{
    justify-content: space-around;
  }
  .product {
    min-width: 0;
  }

  #ban-contact:before , #ban-sold:before{
    font-size: 10px;
  }
}

/** Max Width 428px **/

@media (max-width:428px){
.product{
height: 355px;

}

.product img{
  height: 200px;
}

#ban-contact:before , #ban-sold:before{
  font-size: 8px;
}

.foot div:last-child{
  text-align: center;
}

.foot div p {
 font-size: 8px;
}

.foot div a {
  font-size: 8px;
}

}
